.bg-transparente{
    background-color: rgba(255,255,255,0.7) !important;
}

.btn-cmhandy {
    background-color: #FF7A13;
    border: none;
    color: white;
}

body{
    background-image: url(../../img/fundo/foto_fundo.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}