/* background */
.bg-transparente{
    background-color: rgba(34, 12, 60, 0.7) !important;
}
.bg-roxo{
    background-color: rgba(34, 12, 60) !important;
}

/* texto */
.text-cmhandy{
    color: #FF7A13;
}

/* botoes */
.btn-cmhandy {
    background-color: #FF7A13;
    border: none;
    color: white;
}

.btn-cmhandy:hover {
    background-color: #8f450c;
}

.btn-outline-cmhandy{
    border: 1px solid #FF7A13;
    color: #FF7A13;
    background-color: rgba(0, 0, 0, 0);
}
.btn-outline-cmhandy:hover{
    border: 1px solid #FF7A13;
    color: #fff;
    background-color: #FF7A13;
}

.btn-fechar{
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}


/* body */
body{
    background-image: url(../../img/fundo/foto_fundo.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Esconder as setas no input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}